
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Francois+One&display=swap');
.name {
    float: left;
    text-align: left;
    width: 500px;
}

#intro {
    padding: 100px;
    padding-top: 100px;
}

#photo {
    height: 700px;
    width: 470px;
}

#my_name {
    font-family: 'Bungee Inline', cursive;
    font-family: 'Francois One', sans-serif;
    font-size: 45px;
}

#aboutme {
    padding-top: 30px;
}

#contact {
    background-color: #b30000;
}

#space {
    height: 150px;
}

#menu {
    padding-top: 30px;
    font-size: 24px;
}

#menu_item {
    padding: 5px;

}

.item {
    /*color: #b30000;*/
    color: gray;
    padding: 10px;
    text-decoration: none;
}

.item:hover {
    /*color: #b30000;*/
    color: #b30000;
    text-decoration: none;
    border-bottom: 0.3px solid black;
}


/*#red {*/
/*    color: #b30000;*/
/*    padding: 10px;*/
/*    border-bottom: 0.3px solid black;*/
/*    !*font-weight: bold;*!*/
/*}*/

footer {
    /*padding: 10px;*/
    /*height: 150px;*/
    /*width: 100%;*/
    color: whitesmoke;
    /*background-color: gray;*/
    background-color: #4d0000;
}

.footerlogo {
    padding: 10px;
    height: 50px;
    width: 50px;
}