#skills {
    color: #b30000;
    font-weight: bold;
    padding-bottom: 20px;
}

.skills {
    padding-top: 50px;
    text-align: left;
}

#click {
    color: #b30000;
}

#click:hover {
    cursor: pointer;
}

.skillset {
    color: black;
    text-align: left;
    margin-top: 50px;
}

#star {
    color: #b30000;
}

ul {
    list-style-type: square;
}

.skillLogo {
    height: 200px;
    width: 250px;
}

#react {
    /*transform: translateX(-17.2219%);*/
}

.images {
    height: 600px;
    width: 500px;
    text-align: center;
    float:right;
    /*background-color: #b30000;*/
}

.botui-container {
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 25px;
    padding: 0px;
    background-color: #f0f5f5;
}

#chatbot_img {
    color: #b30000;
}

#bot {
    margin-top: 100px;
}

#bot:hover, #pics:hover {
    cursor: pointer;
}

#pics {
    color: #b30000;
    text-decoration: none;
}

#pics:hover {
    text-decoration: none;
}

#chatbot_title {
    text-align: center;
    color: #b30000;
    padding-top: 30px;
}

.botui-actions-buttons-button {
    background-color: #b30000;
    color: white;
}
