
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Exo&display=swap');

.main_container {
    padding: 30px;
    font-family: "Exo";
}

.logo {
    height: 100px;
    width: 100px;
}

.title {
    text-align: left;
    padding: 30px;
    /*color: #b30000;*/
    font-weight: bold;
}

#shell_logo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.work_desc {
    text-align: left;
    width: 50%;
    font-size: medium;
    padding-left: 30px;
}

.work_ex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#project_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.role {
    /*float: right;*/
    font-size: large;
}

.company {
    display: flex;
    justify-content: left;
}

#shell_bang {
    margin-bottom: 10px;
}

.workplace {
    font-size: x-large;
}



